<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377574639430-9435rqrmhsef6f6i7hq068oemdcsv9cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377574639430-9435rqrmhsef6f6i7hq068oemdcsv9cl</string>
	<key>API_KEY</key>
	<string>AIzaSyA1r2NtH0KcujZgG8Wd86VtHkH18oklOu8</string>
	<key>GCM_SENDER_ID</key>
	<string>377574639430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iCoderHub.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2e040</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2e040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377574639430:ios:27daf00fb1da0efe400747</string>
</dict>
</plist>